@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");

/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: darkgray;
    margin: 0;
    line-height: 0.9;
    text-align: center;
}

h2 {
    color: darkorchid;
}

p {
    margin: 0;
    text-align: center;
}

input,
button {
    height: 3rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

input {
    font-size: 1rem;
}

button {
    font-size: 1.5rem;
}

table {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

th {
    color: darkgray;
    padding: 0.2rem 1.5rem;
}

td {
    color: darkorchid;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
}

footer {
    width: 100%;
    font-size: 0.8rem;
    color: darkgray;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
    padding: 0.5rem;
}

/* css */

header {
    width: 50%;
    margin: auto;
    padding: 1rem;
    color: darkorchid;
}

.brand {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: underline;
}

.input-wrapper,
.spending-wrapper,
.split-bill-wrapper {
    position: relative;
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid darkorchid;
}

.input-container,
.split-bill-list-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

input {
    width: 10rem;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 2rem;
    margin-top: 0.5rem;
}

button {
    background-color: lightgray;
    border-radius: 2rem;
    color: darkorchid;
    padding: 0 0.5rem;
    font-weight: 600;
}

#add-btn {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-25%);
}

#count-btn {
    position: absolute;
    right: 10%;
    top: 5%;
}

.spending-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.spending-list {
    margin: 0 2rem 0 1rem;
}

.spending-total,
.spending-personal-total {
    flex: 1;
    border: 1px solid darkorchid;
    border-radius: 1rem;
    margin: 0 0.2rem;
    padding: 2rem;
}

.price-number {
    margin-top: 1rem;
    font-size: 5rem;
}

.personal-spending {
    margin-top: 1rem;
    color: darkorchid;
}

.each-pay-container {
    margin-top: 0.5rem;
    color: darkorchid;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.group-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 2rem;
}

.member {
    margin: 0 0.5rem;
    border: 1px solid darkorchid;
    border-radius: 1rem;
    padding: 1rem;
}